*{
    &,
    &:before,
    &:after{
        box-sizing: border-box;
    }
}

button,
header,
section,
footer,
nav,
li,
div,
html,
body {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  align-items: stretch;
}
