$body-bg-color: #f9f9f9;
$bg-color: #fff;

$border-color: #E4E4E4;
$zebra-color: lighten(#000, 98%);
$link-color: darken(#29BF96, 10%);

$font: 'Open Sans';
$font-color: #333;
$base-font-size: 18px;
$base-line-height: 20px;

$h1-size: 30px;
$small-size: 13px;
$tiny-size: 12px;

$normal: 400;
$bold: 700;

$line-height-ratio: $base-line-height / $base-font-size;

$base-unit: 20px;
$half-unit: 10px;
$radius: 6px;
$big-radius: 12px;

$content-width: 500px;

$button-color: lighten(#29BF96, 5%);
$button-font-color: #fff;
$button-border-color: #29BF96;
$button-disabled-color: #f9f9f9;
$button-disabled-border-color: #ddd;
$button-disabled-font-color: #aaa;

$input-border-color: #ccc;

$quiet-color: #A9A9A9;
$icon-quiet-color: #BFBBBB;

$checkbox-color: transparent;
$checkbox-check-color: #29BF96;

$icon-size: 13px;
$border-width: 1px;

$transition: all 0.2s ease;
