@import '../styles/vars';
@import '../styles/mixins';
.todo {
	flex-direction: row;
	padding: 0 $base-unit;
	font-size: $small-size;
	line-height: $base-unit * 2;
	transition: $transition;
	background-color: $bg-color;
	align-items: center;
	&:nth-child(2n-1) {
		background-color: $zebra-color;
	}
}
.todo--completed {
	color: $quiet-color;
	.todo__checkbox {
		text-decoration: line-through;
	}
}
.todo--updating {
	opacity: 0.9;
}

.todo__checkbox {
	flex-grow: 1;
}
.todo__delete {
	font-weight: 900;
	opacity: 0.2;
	transition: $transition;
	padding: 0 $half-unit / 2;
	&:hover {
		opacity: 1;
	}
}
.todo--dragging {
	opacity: 0;
	@include layer;
}
