
input[type=text] {
	border-radius: $radius;
	border: 1px $input-border-color solid;
	outline: none;
	padding: 0 $half-unit;
	font-family: inherit;
	text-decoration: inherit;
	font-size: $small-size;
	transition: $transition;
	&:focus {
		border: 1px $button-border-color solid;
	}
}
