html{
	font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $font;
	font-weight: $normal;
	line-height: $base-line-height;
}

body, button, input {
	font-family: $font;
	color: $font-color;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}
h1 {
	line-height: $base-line-height * 2;
	text-rendering: optimizeLegibility;
	padding: $base-unit 0;
	font-size: $h1-size;
	text-align: center;
	font-family: $font;
	font-weight: $bold;
	line-height: $base-line-height * 2;
}

.quiet {
	color: $quiet-color;
}
